/* Estilos para telas grandes (desktop) */
@media (min-width: 768px) {
  /* Adicione estilos para telas de 768 pixels de largura ou maiores */
  
header {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -75px;
  background-image: url('gishkfriends.gif');
  background-size: 800px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 170px;
  width: 1150px; /* Defina a largura desejada, por exemplo, 70% */
  display: flex;
  justify-content: space-between;
  /*box-shadow: 0 0 5px 0 grey; */
  z-index: 3;
  margin-left: 200px; /* Largura da navegação 3 */
  margin-right: 100px; /* Espaço à direita */
  margin: 0 auto; /* Define margens automáticas para centralizar horizontalmente */
}

/* Navegação 1 */
.navegacao1 {
  /* Outros estilos da navegação 1 */
  align-items: flex-start; /* Alinhe os itens verticalmente no início */
  margin-top: 10px;
  display: flex; /* Adicione display flex */
  justify-content: space-between;
  z-index: 4; /* Defina um z-index maior para a navegação 1 */
}

.navegacao1 img {
  width: 200px;
  margin-left: 90px;
  align-self: flex-start; /* Alinhe a imagem verticalmente no início */
  margin-top: 5px; /* Ajuste este valor conforme necessário para posicionar a imagem */
}

.navegacao1 ul {
  list-style-type: none;
  padding-left: 700px;
  margin-left: -50px;
  margin-top: 10px;
  display: flex;
  align-items: center; /* Alinhe os itens verticalmente */
}

.navegacao1 li {
  font-family: 'Poppins', sans-serif;
  margin: 0 20px;
  margin-top: 1px;
}

.navegacao1 a {
  color: #f2f2f2;
  text-decoration: none;
}

.material-icons {
  margin: 0 -30px;
  margin-top: -1px;
  position: absolute;
  color: white;
}

.navegacao1 a:hover {
  background-color: none;
  color: #F44087;
  font-weight: bolder;
}

.navegacao1 a:hover i{
  font-weight: bold;
  background-color: none;
  color: #F44087;
}

/* Navegação 2 */
.navegacao2 { /* Alinhe os itens verticalmente no início */
  position: relative;
  align-self: flex-end;
  bottom: 1px;
  margin-top: 20px;
  margin-bottom: -10px;
  display: flex; /* Adicione display flex */
  justify-content: space-between;
  z-index: 1; /* Defina um z-index maior para a navegação 1 */
}

.navegacao2 ul {
  list-style-type: none;
  margin: 0;
  margin-top: 40px;
  margin-right: 415px;
  display: flex;
  align-items: center; /* Alinhe os itens verticalmente */
}

.item-navegacao2 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
  z-index: 1;
  margin: 0 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100px; /* Defina a largura desejada para todos os botões */
  height: 75px; /* Defina a altura desejada para todos os botões */
  display: flex; align-items: center; justify-content: center;
  line-height: 18px; /* Centralize verticalmente o texto */
  text-align: center;
  box-shadow: 0 0 5px 0 grey;
  border: 3px solid hsl(0, 2%, 88%);  
  border-radius: 20px 20px 0px 0px; 
  padding: 10px; 
  text-transform: none;
  justify-content: center; /* Centralize o conteúdo horizontalmente */
  align-items: center;
  cursor: pointer;
  position: relative; /* Adicione position relative */
  bottom: 0; /* Mantenha a posição original */
  z-index: 1; /* Defina um z-index maior para que o botão apareça sobre a imagem */
  transition: bottom 0.3s; /* Adicione uma transição suave para a propriedade bottom */
  color: #fff;
  text-decoration: none;
}

.item-navegacao2:hover {  
  top: 8px; /* Mova o botão para cima quando o mouse estiver sobre ele */
}

.item-navegacao2 span {
  transition: transform 0.3s; /* Adicione uma transição suave para o texto */
}

.item-navegacao2:hover span {
  transform: scale(1.1rem); /* Aumenta o tamanho do texto para manter a aparência */
}

.item-navegacao2:nth-child(1) {
  background-color: red; 
}

.item-navegacao2:nth-child(2) {
  background-color: orange; 
}

.item-navegacao2:nth-child(3) {
  background-color: green; 
}

.item-navegacao2:nth-child(4) {
  background-color: #95C41E; 
}

.item-navegacao2:nth-child(5) {
  background-color: rebeccapurple; 
}

.linha-customizada1 {
  content: "";
  position: relative;
  top: 50%; /* Posiciona a linha no centro vertical */
  left: -115px; /* Alinha a linha com a margem esquerda negativa */
  width: 1015px;
  height: 5px;
  background-size: 110px 100%; /* Largura automática e altura de 100% */
  background-image: url('agrvai.webp');
  margin: 0px 0;
  background-repeat: repeat-x;
  z-index: 2;
}

.linha-customizada2 {
  content: "";
  position: relative;
  top: 50%;
  margin-top: 20px;
  left: -115px;
  width: 1015px;
  height: 50px;
  z-index: 2;

  background-image: url('div2.webp'),url('espaço3.webp'), url('div4.webp');
  background-position:0%, 53.5%, 100%;
  background-size: contain, contain, contain;
  background-repeat: no-repeat, no-repeat, no-repeat;


  margin: 0px 0 0;
} 

.linha-customizada3 {
  content: "";
  position: relative;
  top: 50%; /* Posiciona a linha no centro vertical */
  left: -115px; /* Alinha a linha com a margem esquerda negativa */
  width: 1015px;
  height: 5px;
  background-size: 110px 100%; /* Largura automática e altura de 100% */
  background-image: url('agrvai.webp');
  margin-top: 20px;
  margin: 0px 0;
  background-repeat: repeat-x;
  z-index: 2;
}

/* Corpo */
body {
  font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg, #19A5F2 5%, white 20% 100%) no-repeat;
  /* background: linear-gradient(0deg, white, #29B9F2  180%, #CAF49E) no-repeat; */
  background-size: cover;
  background-position: center;
  color: #2A86BF;
  margin: 50px 0 0 250px; /* Adicione margem à esquerda para acomodar o menu lateral */
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

/* Navegação 3 (Menu Lateral) */

.navegacao3 {
  display: flex;
  height: 50px;
  width: 943px;
  margin-top: 40px;
  margin-left: -210px;
  background-color: #e19dd0;
  border: solid 3px #e19dd0;
  border-radius: 3px 3px 0 0;
  z-index: 4;
}

.navegacao3 img {
  margin-left: -15px;
  margin-top: -35px;
  height: 100px;
  width: 100px;
}

.navegacao3 p {
  margin-left: 20px;
  margin-top: -27px;
  font-size: 32px;
  font-weight: 400;
  font-family: 'Tilt Warp', cursive;
  line-height: initial;
  color: #F44087;
  
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }


.linha-customizada4 {
  content: "";
  margin-top: 43px;
  left: -130px;
  top: 70%;
  width: 240px; /* Ajuste a largura conforme necessário */
  height: 50px; /* Ajuste a altura conforme necessário */
  z-index: 3;

  /* Defina as imagens de fundo */
  background-image: url('correnteverde.png'), url('correnteverde.png');
  background-position: left 9px center, right 8px center; /* Ajuste a posição da primeira imagem para o início da linha */
  background-size: 90px 50px, 90px 50px;
  background-repeat: no-repeat, no-repeat;
}

/* Navegação 4 (Menu Lateral) */
.navegacao4 {  
  color: #E6E9E0;
  width: 240px; 
  height: 70%;
  margin-top: -50px;
  overflow-y: none;
  overflow-x: none;
  position: absolute; /* Mantém a navegação fixa à esquerda */
  z-index: 1;
}

.navegacao4 ul {
  border: 3px solid #A7BF4E; /* Adicione os estilos de borda desejados aqui */
  border-radius: 10px;  
  background-image: url('calc2.png'), linear-gradient(180deg, #D3F2B3 0%, white 20%, white 80%, #D3F2B3 100%);
  background-position: right 10px top 10px, center center;
  background-repeat: no-repeat;
  background-size: 30% auto, cover; 
  list-style-type: none;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 30px;
  margin: 0;
  margin-top: -1px;
  font-size: 14px;
  z-index: 2;
}

.navegacao4 li {
  justify-content: space-between;
  padding-left: 25px;
} 

.dashed-underline {
  border-bottom: 2px dashed hsla(109, 60%, 49%, 0.354); /* Estiliza o sublinhado como tracejado */
  display: inline;
  margin: 0 5px; /* Define a margem entre o texto e o sublinhado (ajuste conforme necessário) */
  padding-bottom: 10px; /* Ajusta o espaço entre o texto e o sublinhado (ajuste conforme necessário) */
  padding-top: 10px;
}
.none-underline {
  border-bottom: none;
  display: inline;
  margin: 0 5px; /* Define a margem entre o texto e o sublinhado (ajuste conforme necessário) */
  padding-bottom: 10px; /* Ajusta o espaço entre o texto e o sublinhado (ajuste conforme necessário) */
  padding-top: 10px;
}

.navegacao4 a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 75%);
}

.navegacao4 a:hover {
  font-weight: semi bold;
  background-color: none;
  color: #04d26d;
}

.navegacao4 li a.active {
  background-color: none; /* Define a cor do fundo para o link ativo */
  color: #04d26d; /* Define a cor do texto para o link ativo */
  font-weight: bold;
}

.navegacao4 p {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 14px;
  color: #04d26d;
}

/* menu principal + conteúdo principal*/

.conteudo-menu {
  position: relative;
  display: flex;
  margin-top: 0px; /* Ajuste esse valor conforme necessário */
  margin-left: -235px; /* Largura da navegação mais margem */
}

/* Conteúdo principal */

.conteudo {  
  margin-left: 268px; /* Largura da navegação mais margem */
}

/* Container 1 */

.container-1 {
  border-top: none;
  border-radius: 0 0 0 0;
  border-left: solid 3px #e19dd0;
  border-right: solid 3px #e19dd0;
  border-bottom: solid 3px #e19dd0; /* Adicione os estilos de borda desejados aqui */
  width: 700px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

h1 {
  align-self: flex-start;
  font-size: 1rem;
  color: #F44087;
}
  
.container-1 p {
  color: hsl(0, 0%, 75%);
  font-size: 5px;
  line-height: 1rem;
}

/* Container 2 */

.container-2 {
  border-top: none;
  border-radius: 0 0 3px 3px;
  border-left: solid 3px #e19dd0;
  border-right: solid 3px #e19dd0;
  border-bottom: solid 3px #e19dd0; /* Adicione os estilos de borda desejados aqui */
  width: 700px;
  padding: 20px; /* Espaço para separar o conteúdo da navegação */
}

h2 {
  margin: 0 10px 2px;
  font-size: 1rem;
}

/* FORMULÁRIO */

#formulario {
  display: flex;
  flex-direction: row; /* Alterado de "column" para "row" */
  justify-content: center;
  margin-bottom: 0;
  background-color: white;
  color: none;
  padding: 0px;  
  margin-top: 30px;
}

#taxa-label {
  padding: 0;
  color: #666E73;
  display: block; /* Torna o label um elemento de bloco */
  text-align: left;
  font-size: 1.2rem;
  font-weight:500;
}

#formulario input {
  border-left: 2px solid #F2B705;
  border-top: 2px solid #F2B705;
  border-bottom: 2px solid #F2B705;
  border-right: 0;
  padding: 1px;
  text-align: right;
  outline: none;
  font-size: 1rem;
  font-weight: lighter;
}


.input-group-text {
  color: white;
  background-color: #F2B705;
  border: 2px solid #F2B705;
  width: fit-content;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 1rem;
  margin-left: -7px;
  font-weight: lighter;
  display: inline-block;
  border-radius: 0%;
}

/* BOTÕES */

#botoes, #botoes-2 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
  
#botoes input[type=submit], #botoes-2 input[type="reset"], #botoes-2 input[type="button"] {
  background-color: #A7BF4E;
  color: white;
  padding: 15px 10px;
  line-height: 1;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 16px;
}
  
#botoes-2 input[type="reset"]:hover, #botoes-2 input[type="button"]:hover {
  background-color: #e19dd0; /* Cor de hover alternativa */

}

/*FOOTER / RODAPÉ */ 
  
.rodape {
  margin-right: 200px;
  bottom: 0;
}

.rodape img {
  height: 155px;
  width: 800px;
  margin-top: 30px;
  bottom: 0;
}

.texto-rodape {
  text-align: center;
  font-size: 10px;
  margin-top: -35px;
  bottom: 0;
}

#taxa {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  color: green;
  height: 15px;
  width: 80px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 2rem;
}
}














/* Estilos para telas menores (celulares) */
@media (max-width: 767px) {
  /* Adicione estilos para telas menores que 768 pixels de largura */
html {
  overflow-x: hidden;
}  
header {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 5px;
  background-image: url('gishkfriends.gif');
  background-size: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 320px; /* Defina a largura desejada, por exemplo, 70% */
  display: flex;
  justify-content: space-between;
  /*box-shadow: 0 0 5px 0 grey; */
  z-index: 3;
  margin: 0 auto; /* Define margens automáticas para centralizar horizontalmente */
}

/* Navegação 1 */
.navegacao1 {
  /* Outros estilos da navegação 1 */
  align-items: flex-start; /* Alinhe os itens verticalmente no início */
  margin-top: 10px;
  display: flex; /* Adicione display flex */
  justify-content: space-between;
  z-index: 4; /* Defina um z-index maior para a navegação 1 */
}

.navegacao1 img {
  width: 100px;
  margin-left: 15px;
  align-self: flex-start; /* Alinhe a imagem verticalmente no início */
  margin-top: 2px; /* Ajuste este valor conforme necessário para posicionar a imagem */
}

.navegacao1 ul {
  font-size: 0.65rem;
  list-style-type: none;
  padding-left: 100px;
  margin-left: -25px;
  margin-top: 5px;
  display: flex;
  align-items: center; /* Alinhe os itens verticalmente */
}

.navegacao1 li {
  font-family: 'Poppins', sans-serif;
  margin: 0 20px;
  margin-top: 1px;
}

.navegacao1 a { 
  font-size: 0.65rem;
  color: #f2f2f2;
  text-decoration: none;
}

.material-icons {
  font-size: 16px !important;
  margin: 0 -20px;
  margin-top: -1px;
  position: absolute;
  color: white;
}

.navegacao1 a:hover {
  background-color: none;
  color: #F44087;
  font-weight: bolder;
}

.navegacao1 a:hover i{
  font-weight: bold;
  background-color: none;
  color: #F44087;
}

/* Navegação 2 */
.navegacao2 { /* Alinhe os itens verticalmente no início */
  position: relative;
  align-self: flex-end;
  bottom: 1px;
  margin-top: 10px;
  margin-bottom: -10px;
  display: flex; /* Adicione display flex */
  z-index: 1; /* Defina um z-index maior para a navegação 1 */
}

.navegacao2 ul {
  list-style-type: none;
  margin: 0;
  margin-top: -25px;
  margin-right: 12px;
  display: flex;
  align-items: center; /* Alinhe os itens verticalmente */
}

.item-navegacao2 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.5rem;
  z-index: 1;
  margin: 0 2px;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 55px; /* Defina a largura desejada para todos os botões */
  height: 35px; /* Defina a altura desejada para todos os botões */
  display: flex; align-items: center; justify-content: center;
  line-height: 8px; /* Centralize verticalmente o texto */
  text-align: center;
  box-shadow: 0 0 5px 0 grey;
  border: 3px solid hsl(0, 2%, 88%);  
  border-radius: 20px 20px 0px 0px; 
  padding: 10px; 
  text-transform: none;
  justify-content: center; /* Centralize o conteúdo horizontalmente */
  align-items: center;
  cursor: pointer;
  position: relative; /* Adicione position relative */
  bottom: 0; /* Mantenha a posição original */
  z-index: 1; /* Defina um z-index maior para que o botão apareça sobre a imagem */
  transition: bottom 0.3s; /* Adicione uma transição suave para a propriedade bottom */
  color: #fff;
  text-decoration: none;
}

.item-navegacao2:hover {  
  top: 8px; /* Mova o botão para cima quando o mouse estiver sobre ele */
}

.item-navegacao2 span {
  transition: transform 0.3s; /* Adicione uma transição suave para o texto */
}

.item-navegacao2:hover span {
  transform: scale(0.6rem); /* Aumenta o tamanho do texto para manter a aparência */
}

.item-navegacao2:nth-child(1) {
  background-color: red; 
}

.item-navegacao2:nth-child(2) {
  background-color: orange; 
}

.item-navegacao2:nth-child(3) {
  background-color: green; 
}

.item-navegacao2:nth-child(4) {
  background-color: #95C41E; 
}

.item-navegacao2:nth-child(5) {
  background-color: rebeccapurple; 
}

.linha-customizada1 {
  content: "";
  position: relative;
  top: 50%; /* Posiciona a linha no centro vertical */
  left: -140px; /* Alinha a linha com a margem esquerda negativa */
  width: 295px;
  height: 3px;
  background-size: 110px 100%; /* Largura automática e altura de 100% */
  background-image: url('agrvai.webp');
  margin: 0px 0;
  background-repeat: repeat-x;
  z-index: 2;
}

.linha-customizada2 {
  content: "";
  position: relative;
  top: 50%;
  margin-top: 20px;
  left: -140px; /* Alinha a linha com a margem esquerda negativa */
  width: 295px;
  height: 20px;
  z-index: 2;

  background-image: url('div2.webp'),url('div4.webp');
  background-position:0%, 100%;
  background-size: 50% 20px, 50% 20px;
  background-repeat: no-repeat, no-repeat, no-repeat;


  margin: 0px 0 0;
} 

.linha-customizada3 {
  content: "";
  position: relative;
  top: 50%; /* Posiciona a linha no centro vertical */
  left: -140px; /* Alinha a linha com a margem esquerda negativa */
  width: 295px;
  height: 3px;
  background-size: 110px 100%; /* Largura automática e altura de 100% */
  background-image: url('agrvai.webp');
  margin-top: 20px;
  margin: 0px 0;
  background-repeat: repeat-x;
  z-index: 2;
}

/* Corpo */
body {
  font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg, #19A5F2 5%, white 20% 100%) no-repeat;
  /* background: linear-gradient(0deg, white, #29B9F2  180%, #CAF49E) no-repeat; */
  background-size: contain;
  background-position: center;
  color: #2A86BF;
  margin: 50px 0 0 250px; /* Adicione margem à esquerda para acomodar o menu lateral */
  padding-top: 50px;
  padding-right: 0%;
  padding-left: 30px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

/* Navegação 3 (Menu Lateral) */

.navegacao3 {
  display: flex;
  height: 20px;
  width: 300px;
  margin-top: 15px;
  margin-left: -270px;
  background-color: #e19dd0;
  border: solid 3px #e19dd0;
  border-radius: 3px 3px 0 0;
  z-index: 4;
}

.navegacao3 img {
  margin-left: -5px;
  margin-top: -15px;
  height: 40px;
  width: 40px;
}

.navegacao3 p {
  margin-left: 10px;
  margin-top: -13px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Tilt Warp', cursive;
  line-height: initial;
  color: #F44087;
  
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }


.linha-customizada4 {
  content: "";
  margin-top: 43px;
  left: -10px;
  top: 70%;
  width: 140px; /* Ajuste a largura conforme necessário */
  height: 50px; /* Ajuste a altura conforme necessário */
  z-index: 3;

  /* Defina as imagens de fundo */
  background-image: url('correnteverde.png'), url('correnteverde.png');
  background-position: left 1px center, right 26px center; /* Ajuste a posição da primeira imagem para o início da linha */
  background-size: 50px 40px, 50px 40px;
  background-repeat: no-repeat, no-repeat;
}

/* Navegação 4 (Menu Lateral) */
.navegacao4 {  
  color: #E6E9E0;
  width: 115px; 
  height: 70%;
  margin-top: -50px;
  margin-left: -60px;
  overflow-y: none;
  overflow-x: none;
  position: absolute; /* Mantém a navegação fixa à esquerda */
  z-index: 1;
}

.navegacao4 ul {
  border: 2px solid #A7BF4E; /* Adicione os estilos de borda desejados aqui */
  border-radius: 10px;  
  background-image: url('calc2.png'), linear-gradient(180deg, #D3F2B3 0%, white 20%, white 80%, #D3F2B3 100%);
  background-position: right 1px top 5px, center center;
  background-repeat: no-repeat;
  background-size: 25% auto, cover; 
  list-style-type: none;
  padding: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0;
  margin-top: -18px;
  font-size: 0.5rem;
  z-index: 2;
}

.navegacao4 li {
  justify-content: space-between;
  padding-left: 10px;
} 

.dashed-underline {
  border-bottom: 2px dashed hsla(109, 60%, 49%, 0.354); /* Estiliza o sublinhado como tracejado */
  display: inline;
  margin: 0 5px; /* Define a margem entre o texto e o sublinhado (ajuste conforme necessário) */
  padding-bottom: 5px; /* Ajusta o espaço entre o texto e o sublinhado (ajuste conforme necessário) */
  padding-top: 5px;
}
.none-underline {
  border-bottom: none;
  display: inline;
  margin: 0 5px; /* Define a margem entre o texto e o sublinhado (ajuste conforme necessário) */
  padding-bottom: 5px; /* Ajusta o espaço entre o texto e o sublinhado (ajuste conforme necessário) */
  padding-top: 5px;
}

.navegacao4 a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 75%);
}

.navegacao4 a:hover {
  font-weight: semi bold;
  background-color: none;
  color: #04d26d;
}

.navegacao4 li a.active {
  background-color: none; /* Define a cor do fundo para o link ativo */
  color: #04d26d; /* Define a cor do texto para o link ativo */
  font-weight: bold;
}

.navegacao4 p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 8px;
  font-size: 0.50rem;
  color: #04d26d;
}

/* menu principal + conteúdo principal*/

.conteudo-menu {
  width: 120px;
  position: relative;
  display: flex;
  margin-top: 0px; /* Ajuste esse valor conforme necessário */
  margin-left: -350px; /* Largura da navegação mais margem */
}

/* Conteúdo principal */

.conteudo {  
  font-size: 0.65rem;
  margin-left: 62px; /* Largura da navegação mais margem */
}

/* Container 1 */

.container-1 {
  border-top: none;
  border-radius: 0 0 0 0;
  border-left: solid 2px #e19dd0;
  border-right: solid 2px #e19dd0;
  border-bottom: solid 2px #e19dd0; /* Adicione os estilos de borda desejados aqui */
  width: 188px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 30px;
}

h1 {
  margin-top: 10px;
  align-self: flex-start;
  font-size: 0.6rem;
  color: #F44087;
}
  
.container-1 p {
  color: hsl(0, 0%, 75%);
  line-height: 0.5rem;
}

/* Container 2 */

.container-2 {
  border-top: none;
  border-radius: 0 0 3px 3px;
  border-left: solid 2px #e19dd0;
  border-right: solid 2px #e19dd0;
  border-bottom: solid 2px #e19dd0; /* Adicione os estilos de borda desejados aqui */
  width: 188px;
  padding: 10px; /* Espaço para separar o conteúdo da navegação */
}

h2 {  
  text-align: left;
  color: #F44087;
  padding-bottom: 5px;
  font-size: 0.6rem;
}

/* FORMULÁRIO */

#formulario {
  display: flex;
  flex-direction: row; /* Alterado de "column" para "row" */
  justify-content: center;
  margin-bottom: 0;
  background-color: white;
  color: none;
  padding: 0px;  
  margin-top: 15px;
}

#taxa-label {
  padding: 0;
  color: #666E73;
  display: block; /* Torna o label um elemento de bloco */
  text-align: left;
  font-size: 0.6rem;
  font-weight:500;
}

#formulario input {
  border-left: 2px solid #F2B705;
  border-top: 2px solid #F2B705;
  border-bottom: 2px solid #F2B705;
  border-right: 0;
  padding: 1px;
  text-align: right;
  outline: none;
  font-size: 0.5rem;
  font-weight: lighter;
}


.input-group-text {
  color: white;
  background-color: #F2B705;
  border: 2px solid #F2B705;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 0.5rem;
  margin-left: -3px;
  font-weight: lighter;
  display: inline-block;
  border-radius: 0%;
}

/* BOTÕES */

#botoes, #botoes-2 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
  
#botoes input[type=submit], #botoes-2 input[type="reset"], #botoes-2 input[type="button"] {
  background-color: #A7BF4E;
  color: white;
  padding: 8px 10px;
  line-height: 0.6rem;
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-radius: 16px;
}
  
#botoes-2 input[type="reset"]:hover, #botoes-2 input[type="button"]:hover {
  background-color: #e19dd0; /* Cor de hover alternativa */

}

/*FOOTER / RODAPÉ */ 
  
.rodape {
  margin-right: 275px;
  bottom: 0;
}

.rodape img {
  height: 60px;
  width: 300px;
  margin-top: 20px;
  bottom: 0;
}

.texto-rodape {
  text-align: center;
  font-size: 0.50rem;
  margin-top: -12px;
  bottom: 0;
}

#taxa {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  color: green;
  height: 15px;
  width: 80px;
  font-size: 0.6rem;
  font-weight: 600;
  text-align: center;
  line-height: 2rem;
}
}